<div class="row">
    <img src="img/mcaro.jpg" class="img-circle img-responsive center-block" id="about-image" width="140" height="140"></img>
</div>

<div class="row">
        <h2>My name is Miguel Caro...</h2>
        <p>
            I am a 26y/o guy living in Bogotá, Colombia. In 2014 I graduated UDFJC 
            University in Bogotá, Colombia with a Technology on "Sistematización de Datos".
        </p>
        <p>
            On second semester of 2015 I began ending the professional carrer on Telematic Engineer from UDFJC University.
        </p>
        <p>
            I am, Full time Web-Developer as Freelance and too Job on Grupo OET.
        </p>
        <p>
            I love the new technology and delelopment creative software...
        </p>
</div>
<div class="row">
    <div class="col-md-2 col-md-offset-3">
        <a href="https://twitter.com/UD_Randalf" class="btn btn-info btn-block">
            <i class="fa fa-twitter fa-5x"></i>
        </a>
    </div>
    <div class="col-md-2">
        <a href="https://www.facebook.com/ud.miguel.caro" class="btn btn-primary btn-block">
            <i class="fa fa-facebook fa-5x"></i>
        </a>
    </div>
    <div class="col-md-2">
        <a href="https://www.youtube.com/user/smackest" class="btn btn-danger btn-block">
            <i class="fa fa-youtube fa-5x"></i>
        </a>
    </div>
</div>